
<table>
    <td>
        <tr>
            <a href="/30-4">
                <img src="/img/30-4.png" alt="30-4" width="150">
                <p>Ngày Giải Phóng Miền Nam</p>
            </a>
        </tr>
        
    </td>
    <td>
        <tr>
            <a href="/christmas">
                <img src="/img/giang-sinh-fa.png" alt="christmas" width="150">
                <p>Giáng Sinh</p>
            </a>
        </tr>
        
    </td>
    <td>
        <tr>
            <a href="/new-year">
                <img src="img/bia333-mung-nam-moi.png" alt="30-4" width="150">
                <p>Năm Mới</p>
            </a>
        </tr>
    </td>
</table>